<h1>Posts</h1>

<div class="row container-fluid">
    <div class="col-md-6">
        <!--spinner [visible]="postsLoading"></spinner-->
        
        <!--pagination [items]="posts" [page-size]="pageSizeFromSettings" (page-changed)="onPageChanged($event)"></pagination-->
        
        <table class="table table-bordered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Published</th>
				<th>Updated</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#post of posts">
				<td class="text-nowrap clickable" (click)="getPost(post)">{{post.title}}
                    <footer class="malo-sivo">{{post.labels}}</footer>
                </td>
				<td class="text-nowrap">{{post.published | toDate | date:'shortDate'}}</td>
				<td class="text-nowrap">{{post.updated | toDate | date:'dd MMM y'}}</td>
			</tr>
		</tbody>
	</table>
    
    </div>
    <div class="col-md-6">
       
        <div *ngIf="selectedPost && selectedPost.title" class="panel panel-default">
            <div class="panel-heading panel-primary">
                <h3 class="panel-title">{{selectedPost.title}}</h3>
            </div>
            <div class="panel-body" [innerHTML]="selectedPost.content">                
                <hr/>
            </div>
        </div>
    </div>

</div>